{% extends 'base.html' %}

{% load static %}

{% block main %}



    <div class="container h-100" style="margin-top:30px">
        {% if request.user.active_subscription %}
        <h1>{{ object.title }}</h1>
        <small>Updated at {{object.last_updated}}</small>
        <br><br>
        <div class="row h-100">
                <div class="col-sm-3">
                    <h6>Objectives:</h6>
                </div>
                <div class="col-sm-8">
                    {{object.description|linebreaks}}
                </div>
                <div class="col-sm-3">
                    <h6>Delivery Strategy:</h6>
                </div>
                <div class="col-sm-8">
                    {{object.delivery_strategy|linebreaks}}
                </div>
                <div class="col-sm-3">
                    <h6>Grouping Used:</h6>
                </div>
                <div class="col-sm-8">
                    {{object.grouping_used|linebreaks}}
                </div>
                <div class="col-sm-3">
                    <h6>Skills:</h6>
                </div>
                <div class="col-sm-8">
                    {{object.skills|linebreaks}}
                </div>
                <div class="col-sm-3">
                    <h6>Materials:</h6>
                </div>
                <div class="col-sm-8">
                    {{object.materials|linebreaks}}
                </div>
        </div>
        <br>
        <div>
          <div> <h5 id = "percentNumber"> 0% of Module Completed</h5> </div>
        </div>
        <div class="progress">
          <span class="progress-bar progress-bar-striped bg-success" id="CheckProgress" role="progressbar" style="width: 0% " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" >  </span>
        </div>
        <br>
        <br>
        <div class="row h-100">
            <div class="col-sm-8">
                <iframe width="100%" height="500px" min-height="290px" src="{{object.video_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled list-group">

                    {% for task in tasks%}
                        <li class="list-group-item">
                          <form class="checkComplete"   name = 'checkComplete' method="POST"> {% csrf_token %}
                        <input type="hidden" name="number" value="{{task.id}}">
                            {{forloop.counter}}.
                            <input type="checkbox"
                                   name="{{ form.checkComplete.name }}"
                                   id="{{ form.checkComplete.id_for_label }}"
                                   class = "checks"
                                   {% if task.checkComplete %}
                                   checked = "checked"
                                   {% endif %}
                                   >
                           {{task.description}}
                          </form>
                        </li>
                    {% endfor %}
                    <script>
                      $(document).ready(function() {

                        var $checkboxes = $('.checks');
                        var $progress = $('#CheckProgress');
                        var total = $checkboxes.length;

                        var checked = $checkboxes.filter(':checked').length;
                        var progressWidth = (checked / total) * 100;
                        $('.progress-bar').css('width', progressWidth + '%');
                        document.getElementById('percentNumber').innerHTML = progressWidth.toFixed(2) + '% of Module Completed';

                       $checkboxes.on('change', function() {
                         var checked = $checkboxes.filter(':checked').length;
                         var progressWidth = (checked / total) * 100;
                         $('.progress-bar').css('width', progressWidth + '%');
                         document.getElementById('percentNumber').innerHTML = progressWidth.toFixed(2) + '% of Module Completed';
                         if ($('.checks:checked').length == $('.checks').length) {
                                      console.log("congrats");
                                      $('#modal').modal('show')
                                  };
                          var token = "{{csrf_token}}"
                          var data = $(".checkComplete");
                          $(".checkComplete").each(function(){
                            $.ajax({
                              headers: { "X-CSRFToken": token },
                              type : 'POST',
                              url :  "{% url 'isCompleteView' %}",
                              data :  $(this).serialize(),
                              success : function(response){
                                console.log(response)
                              },
                              error : function(response){
                                console.log(response)
                              }
                            });
                          })
                        });
                      });
                    </script>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel"></h5>
                        <i class="fa fa-check-double fa-5x col-12 text-center"></i>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Congratulations! You just finished the module {{ object.title }}! You're doing some great work - keep it up!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Stay Here</button>
                        <a href="{% url 'moduleList' %}">
                            <button type="button" class="btn btn-primary">Return to Module Listings</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- Footer Section 1 -->
        <section class="footer-section" style="300px">
            <div class="container">
                <div class="footer-bar-wrapper">
                    <div class="row align-items-center text-center">
                        <div class="col-lg-2 col-md-3 ">
                            <div class="footer-icon">
                                <img src="{% static 'smoothjumpaheadsticker.png' %}" alt="" style="border-radius: 20%;">
                            </div>
                        </div>
        
                        <div class="col-lg-6 col-md-6  offset-lg-1">
                            <ul class="nav footer-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'about' %}">About </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
        
                        <div class="col-lg-2 col-md-4 ">
                            <div class="footer-icon">
                                <img src="{% static 'smoothjumpaheadsticker.png' %}" alt=""
                                    style="margin-left: 100px; border-radius: 20%;">
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </section>
    {% else %}

    <h4 style="text-transform: none; margin-top: 200px; text-align: center;">Your account does not have an active subscription. To access this module, add a subscription on your <a class="" style="color: #007bff;" href="{% url 'profile' %}">account</a> page.</h4>
    <!-- Footer Section 1 -->
    <section class="footer-section" style="margin-top: 450px;">
        <div class="container">
            <div class="footer-bar-wrapper">
                <div class="row align-items-center text-center">
                    <div class="col-lg-2 col-md-3 ">
                        <div class="footer-icon">
                            <img src="{% static 'smoothjumpaheadsticker.png' %}" alt="" style="border-radius: 20%;">
                        </div>
                    </div>
    
                    <div class="col-lg-6 col-md-6  offset-lg-1">
                        <ul class="nav footer-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'about' %}">About </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-lg-2 col-md-4 ">
                        <div class="footer-icon">
                            <img src="{% static 'smoothjumpaheadsticker.png' %}" alt=""
                                style="margin-left: 100px; border-radius: 20%;">
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    {% endif %}

</div>
{% endblock %}
